

body {
  background-color: #f0f0f0; /* Choose your desired color */
  background-image: url("images/minimalistic_fairy_tale_bonsai_tree_.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}


/* Apply styles only to elements within index.html */
.index-page .container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  /* Other styles... */
}

/* Apply styles only to elements within trees.html */
.trees-page .container {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  /* Other styles... */
}


h1 {
  font-size: 36px;
  font-weight: bold;
  color: #f1d5f7;
  margin: 20px 0;
  opacity: 0; /* Initially set to transparent */
  animation: fadeIn 2s ease-in-out forwards; /* Apply the animation */
}

h3 {
  font-size: 36px;
  font-weight: bold;
  font-style: oblique;
  color: #f6fcfc;
  margin: 20px 0;
  opacity: 0; /* Initially set to transparent */
  animation: fadeIn 2s ease-in-out forwards; /* Apply the animation */
  background-color: rgba(128, 128, 128, 0.5); /* Grey background with opacity */
  padding: 15px; /* Add padding for spacing */
  border-radius: 10px; /* Rounded corners */
}

.about-h1 {
  font-size: 36px;
  font-weight: bold;
  color: #15d41f;
  margin: 20px 0;
  opacity: 0; /* Initially set to transparent */
  animation: fadeIn 2s ease-in-out forwards; /* Apply the animation */
  text-align: center;

}

/*about text*/
.about-text {
  color: #dceceb;
  text-align: center;
  font-size: x-large;
  background-color: rgba(128, 128, 128, 0.5); /* Grey background with opacity */
  padding: 15px; /* Add padding for spacing */
  border-radius: 10px; /* Rounded corners */
}

/*about container*/
.about-container {
  flex: 0; /* Allow the container to take up remaining vertical space */
  padding-bottom: 0%;
  padding-top: 400px;
}

.about-footer {
  text-align: center;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px); /* Optional: Slide up a bit during fade-in */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


footer {
  flex-shrink: 0;
}
  

.fs-4 {
  font-weight: inherit;
  color: rgb(3, 97, 34);
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: chocolate;
  
}


  /* Apply styles to the main container */
.main-container {
  max-width: 100%; 
  margin:100px auto; 
}


  p {
    color:rgb(7, 7, 7);
    font-style: oblique;
    font-size: 25px;
  }
  

 /* banner image */
 img {
    max-width: 100%; 
    height: auto;
    border-radius: 10px; 
    width: 100%; 
    height: auto; 
  }

/* Apply styles to the section container */
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Center text content */
  padding: 20px; /* Add padding for spacing */
}






/* Tree Picture Box*/
.text-box {
  font-size: 24px;
  font-family: 'Arial', sans-serif;
  padding: 5px;
  background-color: rgba(141, 241, 95, 0.5);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15px auto; /* Center the text box horizontally */
  width: 100%;
  max-width: 1000px; /* Limit the maximum width of the text box */
  overflow: hidden; /* Hide any overflow content */
 
}

.nav-link {
  color: #dc643bff ;
}

/*footer author*/
.text-center {
    color:#dc643bff;
    font-style: oblique;
    font-size: 25px;
}